logo{  
  margin: auto;  
}

td{    
    text-align: center;
    width: 0.46vw;
    height: 0.46vw;
    margin: 0.46vw;
    vertical-align:middle;
}

#table_assentos{    
    min-width: 9vw;
}

.centro{
    text-align: center;
}

/* Define uma fonte e tamanho de texto padrão */
body {
  font-family: 'Helvetica Neue', sans-serif;    
  background-color: #f8f8f8;
  padding: 1vw;
  min-width: 9vw;
  text-align: left;
}  

/* Estiliza o cabeçalho */
h1 {
  font-size: 1vw;
  margin-bottom: 2vh;
}

/* Define um estilo para os assentos */
.assento {
  display: inline-block;
  width: 1.5vw; /*70px;*/
  height: 2vh; /*70px;*/
  background-color: #e1e1e1;
  border: none;
  border-radius: 0.5vw;    
  cursor: pointer;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.15);    
  padding-top: 1vh;    
  font-size: 0.5vw;
  
}

/* Estiliza os assentos quando estão ocupados */
.assento.ocupado {
  background-color: #f45c5c;
  color: #fff;
  box-shadow: none;
}

.assento.livre {
  background-color: #e1e1e1;
  color: black;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.15);    
}

/* Estiliza os assentos quando estão selecionados */
.assento.selecionado {
  background-color: #5ca9f4;
  color: #fff;
  box-shadow: none;    
}

.assento.corredor{
  background-color: transparent;
  box-shadow: none;
}

/* Adiciona um efeito de transição suave quando os assentos são selecionados */

.assento:hover  {
  /*background-color: #c1c1c1;*/
  transform: scale(1.1);
}
/* Mobile Retrato */
@media screen and (orientation:portrait) {
  
  #table_assentos{    
    min-width: 10vw;
  }

  td{    
    text-align: center;
    width: 0.15vw;
    height: 0.15vw;
    margin: 0.3vw;
    vertical-align:middle;
  }
  .assento {
    display: inline-block;
    width: 1vw; /*70px;*/
    height: 0.8vw; /*70px;*/
    background-color: #e1e1e1;
    border: none;
    border-radius: 0.5vw;    
    cursor: pointer;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.15);    
    padding-top: 0.5vh;    
    font-size: 0.5vw;
    
  }
}
/* Mobile Paisagem */
@media screen and (orientation:landscape) {

  #table_assentos{    
    min-width: 13vw;
  }
  
  td{    
    text-align: center;
    width: 0.3vw;
    height: 0.3vw;
    margin: 0.3vw;
    vertical-align:middle;
  }
  .assento {
    display: inline-block;
    width: 1vw; /*70px;*/
    height: 2vh; /*70px;*/
    background-color: #e1e1e1;
    border: none;
    border-radius: 0.5vw;    
    cursor: pointer;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.15);    
    padding-top: 1vh;    
    font-size: 0.4vw;
    
    
  } 

  /* Desktop */
  @media (any-pointer: fine){
    td{    
      text-align: center;
      width: 0.35vw;
      height: 0.35vw;
      margin: 0.35vw;
      vertical-align:middle;
    }
    .assento {
      display: inline-block;
      width: 1.35vw; /*70px;*/
      height: 2vh; /*70px;*/
      background-color: #e1e1e1;
      border: none;
      border-radius: 0.5vw;    
      cursor: pointer;
      box-shadow: 1px 1px 2px rgba(0,0,0,0.15);    
      padding-top: 1vh;    
      font-size: 0.5vw;
      
    }
  }

 
}